<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
    <title>Análise Completa</title>
</head>
<body>
    <div class="container">
        <h1>Análise Completa</h1>
        <img src="{{ plot_url }}" alt="Frequência dos Números" class="analysis-plot">
        <p><strong>Jogo Mais Frequente:</strong> {{ results['most_frequent'] }}</p>
        <a href="/" class="back-link">Voltar para o Upload</a>
    </div>
</body>
</html>
